{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    
    

    <div class="card card-warning">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h1>Employee Attendance for {{ employee.admin.first_name|capfirst }}{{ employee.admin.last_name|capfirst }}</h1>
                <a href={% url 'admin_view_attendance' %} class="btn btn-light">All Employees</a>
            </div>
        </div>
        <!-- Rest of your card content here -->
    </div>
    <div class="card-body">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for date in all_dates %}
            <tr>
                <td>{{ date }}</td>
                <td >
                    {% for attendance in attendance_data %}
                        {% if attendance.date == date %}
                            {{ attendance.get_status_display }}
                        {% endif %}
                    {% empty %}
                        <!-- Display a blank cell if no attendance data for the date -->
                    {% endfor %}
                </td>
                <td>
                    <button class="btn btn-success attendance-btn" data-date="{{ date|date:"Y-m-d" }}" data-status="present">Present</button>
                    <button class="btn btn-danger attendance-btn" data-date="{{ date|date:"Y-m-d" }}" data-status="absent">Absent</button>
                    <button class="btn btn-warning attendance-btn" data-date="{{ date|date:"Y-m-d" }}" data-status="leave">Leave</button>
                    <button class="btn btn-warning attendance-btn" data-date="{{ date|date:"Y-m-d" }}" data-status="delete">Delete</button>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>


</section>

{% endblock content %}
{% block custom_js %}
<script>
    document.querySelectorAll('.attendance-btn').forEach(function (button) {
        button.addEventListener('click', function () {
            var date = button.getAttribute('data-date');
            var status = button.getAttribute('data-status');
            var employeeId = '{{ employee.admin.id }}' -1; 
        
            $.post('/update_attendance/' + employeeId + '/' + date + '/', { status: status }, function (data) {
                if (data.success) {
                    location.reload();
                } else {
                    alert('Failed to update attendance.');
                }
            });
        });
    });
</script>

{% endblock custom_js %}
