{% extends "main_app/base.html" %}

{% block content %}
<div class="container">
    <h1>Holiday List</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for holiday in holidays %}
            <tr>
                <td>{{ holiday.name }}</td>
                <td>{{ holiday.date }}</td>
                <td>
                    <a href="{% url 'edit_employee' employee.employee.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_employee' employee.employee.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a>

                    <form method="post" action="{% url 'delete_holiday' holiday.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<!-- 
    <h2>Add Holiday</h2> -->
    {% url 'add_holiday' as add_holiday %}

    <form method="post" action="{% url 'add_holiday' %}" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-warning">Add Holiday</button>
    </form>
</div>
{% endblock %}
