{% extends 'main_app/base.html' %}
{% load static %}

{% block page_title %}
  {{ page_title }}
{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info" {% if form_disabled %}onclick="this.disabled = true;" {%else%}onclick="submitForm()"{% endif %}>
                    <div class="inner">
                        <h3>{{ h3_text }}</h3>
                        <form id="attendanceForm" method="post" action="{% url 'employee_mark_attendance' %}">
                            {% csrf_token %}
                            {{ form.date }}
                            {{ form.status }}
                            <button type="submit" style="display: none;" name="status" value="present" {% if form_disabled %}onclick="this.disabled = true;" {%else%}onclick="submitForm()"{% endif %}>
                            </button>
                            <p>{{ p_text }}</p>
                        </form>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ present_percentage|floatformat }}<sup style="font-size: 20px">%</sup></h3>
                        <p>Percentage Present</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{ absent_percentage|floatformat }}<sup style="font-size: 20px">%</sup></h3>
                        <p>Percentage Absent</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{ total_department }}</h3>
                        <p>Total Department</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                </div>
            </div>
            <!-- ./col -->
        </div>
    </div>
</section>
{% endblock content %}
{% block custom_js %}

<script>
    function submitForm() {
        document.getElementById('attendanceForm').submit();
    }
    </script>    
{% endblock custom_js %}